* {
    box-sizing: border-box;
    text-transform: capitalize;
}

:root {
    --Main: #FF7A3A;

    --Demonic: #f21b46;
    --BusyDemonic: #bf0046;

    --Shadow: #6a1af3;
    --Dark: #0a0e66;
    --White: #f0f8ff;
    --Text: oklch(from var(--White) calc(l * .2) c h);

    font-size: clamp(8px, 1dvw, 16px);

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--Shadow) var(--Dark);
}

html, body {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, oklch(from var(--Shadow) calc(l * .2) c h), var(--Dark));
    background-repeat: no-repeat;
    background-size: 100% 300%;

    font-family: Montserrat;
    color: var(--White);
}

::selection {
    color: var(--Shadow);
    background-color: var(--White);
}

/* ---------------- Class PreFabs -------- */

.NoSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.IgnoreLink:link, .IgnoreLink:visited, .IgnoreLink:hover, .IgnoreLink:active, .IgnoreLink:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

/* .HoverScale {
    --TimeScale: .1s;
    --Scale: 2;

    transition: transform var(--TimeScale) ease-in-out;
}

.HoverScale:hover {
    transform: scale(var(--Scale));
    z-index: 10;
} */

.MouseEffect {
    --TimeMouseEffect: .1s;
    --Perspective: 3;
    transform-style: preserve-3d;
    transform: perspective(350px);
    transition: transform var(--TimeMouseEffect) cubic-bezier(0.64, 0.57, 0.67, 1.53);
    will-change: transform;
}
.MouseEffect:hover { z-index: 10; }

.Buttons {
    --Perspective: 10;
}

/* ---------------- Animations PreFabs -------- */