---
import Welcome from '../components/Welcome.astro';
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<NavBar />
	<Welcome />
	<div style="height: 100dvh;"></div>
</Layout>
