---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Welcome from '../components/Welcome.astro';
import Advertisement from '../components/Advertisement.astro';
---

<Layout description="Open Source Educational Reimagining Of The Mensa Website, COMPLETY UNAFFILIATED">
	<Advertisement />
	<NavBar />
	<Welcome />
	<div style="height: 100dvh;"></div>
</Layout>
